
{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css') }}">
{% endblock head %}

{% block header %}
<div class="header">User Registration</div>

{% endblock header %}

{% block content %}
<div class="container" style="width:600px;"> 
    <div class="shadow p-3 mb-5 bg-white rounded">
        <p  style="text-align: center;"><img src="/static/images/mi_pi2.png" width="500px" class="rounded" ></p>
        <div style="margin: 20px 10px"></div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Registration Information</legend>
            <ul class="form-group">
                {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}    
                        {{ form.username(class="form-control form-control-lg") }}   
                    {% endif %}
            </ul>
            <ul class="form-group">
                {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}    
                        {{ form.email(class="form-control form-control-lg") }}   
                    {% endif %}
            </ul>
            <ul class="form-group">
                {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}    
                        {{ form.password(class="form-control form-control-lg") }}   
                    {% endif %}
            </ul>
            <ul class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}    
                        {{ form.confirm_password(class="form-control form-control-lg") }}   
                    {% endif %}
            </ul>
            
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
</div>
</div>
    
{% endblock content %}