 {% extends "base.html" %} {% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> {% endblock head %} {% block header %}
<div class="header">{{ legend }}</div>

{% endblock header %} {% block content %}
<div class="container-fluid">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div style="margin-left: 5%; margin-right: 5%; margin-top: 0px; margin-bottom: 5%;">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <h1>Hub Config</h1>
                    <hr>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <ul class="form-group" style="margin: 2% 2%;">
                                {{ form.ip.label(class="form-control-label") }} {% if form.ip.errors %} {{ form.ip(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.ip.errors %}
                                    <span> {{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.ip(class="form-control form-control-lg") }} {% endif %}
                            </ul>
                        </div>
                        <br>
                        <div class="col-4">
                            <ul class="form-group" style="margin: 2% 2%;">
                                {{ form.mac.label(class="form-control-label") }} {% if form.mac.errors %} {{ form.mac(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.mac.errors %}
                                    <span> {{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.mac(class="form-control form-control-lg") }} {% endif %}
                            </ul>
                        </div>

                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-info") }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}